<!DOCTYPE html>
<html>
	<head>
		<title>UI Dev Challenge</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<link rel="stylesheet" href="/stylesheets/styles.css">
  		<link rel="stylesheet" href="/stylesheets/bootstrap.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
		<script src="/js/angular.min.js"></script>
		<script src="/js/angular-chart.min.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body ng-app="movieSalesApp" ng-controller="theController">
		<div class="container-fluid">
			<div class="panel topPanel">
				<div class="row">
				<div class="col-md-6 statsLabels">
					<h2>Total Movie Sales</h2>
					<span>Comparison - {{movies.movie1.movieTitle}} and {{movies.movie2.movieTitle}}</span>
				</div>
				<div class="col-md-6 statsLabels text-right">
					<p>Average value of sales in the past month in: <b>United States</b></p>
					<p>All sales: 162,862</p>
				</div>
				</div>
			<div class="col-md-8">
        <canvas class="chart chart-line" chart-data="graphLineDataPoints" chart-labels="graphLineLabels" chart-colors="graphLineColors" chart-series="graphLineSeries"  chart-legend="false" chart-click="onClick" >
       	</canvas> 
    	</div>
         <div class="row col-md-4">
         	<div class="totalOrders">
         		<div ng-repeat="movie in movies" id={{'movieProgressBar'+$index}}>
              <h2>{{movie.movieTicketPurchases}}</h2>
           		<p>Total orders - {{movie.movieTitle}}</p>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{movie.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{movie.percentOfTotal}}%;">
                  	{{movie.percentOfTotal}}%
                  </div>
              </div>
         		</div>
         	</div>
        </div>
        <hr>
    		<div class="row">
    			<div class="col-md-9 analysisText">
    				<p><b>Analysis of sales:</b> The value has been changed over time, and last month reached a level over $50,000.</p>
    			</div>
    			<div class="col-md-3 analysisText text-right">
    				<p>Update on 16.07.2015</p>
  				</div>
    		</div>
    	</div>
    		<div class="row">
        	<div class="col-md-6" ng-repeat="movie in movies">
          	<div class="panel bottomPanels">
            	<h2>{{movie.movieTitle}}</h2>
            	<p><b>Release Date </b>{{movie.movieReleaseDate}}</p>
            	<div class="row">
              	<div class="col-md-6"><h4>May 3, 2015</h4>
              	</div>
              		<div class="col-md-6"><button type="button" class="btn btn-primary">Buy Tickets</button>
              		</div>
            	</div>
            	<br/>
           			<div class="row">
           				<div class="col-md-6"><h4>May 4, 2015</h4>
           				</div>
          					<div class="col-md-6"><button type="button" class="btn btn-primary">Buy Tickets</button>
          					</div>
            		</div>
          	</div>
        	</div> 
      	</div>
    	</div>
	</body>
</html>


